.navbar {
    background-color: black;
    color: white;
}

.navbarBrand, .navItem {
    color: white;
}

.navbarToggler {
    border: none;
}

.hamburger {
    color: white;
}

@media (prefers-color-scheme: light) {
  .navbar {
    background-color: white;
    color: black;
}

.navbarBrand, .navItem {
    color: black;
}

.navbarToggler {
    border: none;
}

.hamburger {
    color: black;
}
}