@font-face {
  font-family: 'Ithaca';
  src:  local('Ithaca'), 
        url('/Ithaca-LVB75.tff') format('truetype');
}

#root {
  font-family: 'Ithaca', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  font-family: 'Ithaca', sans-serif;
  background-color: black;
}

#canvas-container {
  font-family: 'Ithaca', sans-serif;
  background-color: black;
}

/* @media (prefers-color-scheme: light) {
  .page{
    background-color: white;
  }

  #canvas-container {
    background-color: white;
  }
} */