#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  background-color: black;
}

#canvas-container {
  background-color: black;
}

@media (prefers-color-scheme: light) {
  .page{
    background-color: white;
  }

  #canvas-container {
    background-color: white;
  }
}